* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

ul, ol {
    list-style-type: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    background: gray;
    position: relative;
    display: block;
    /*position: fixed;*/
    top: 0;
    left: 0;
}

#actions {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    user-select:none;
}


.brush, .eraser, .clear, .download {
    width: 2em;
    height: 2em;
    transition: all 0.3s;
    margin-right: 10px;
}

.brush.active, .eraser.active {
    fill: red;
    transform: scale(1.2);
}

.brush-color-list {
    position: absolute;
    left: 20px;
    top: 100px;
}

.brush-color-list li {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    transition: all 0.3s;
}

.brush-color-list li.red {
    background: red;
}
.brush-color-list li.green {
    background: green;
}
.brush-color-list li.blue {
    background: blue;
}
.brush-color-list li.black {
    background: black;
}

.brush-color-list li.black.active, .brush-color-list li.blue.active, .brush-color-list li.green.active, .brush-color-list li.red.active {
    box-shadow: rgba(0, 0, 0, 0.95);
    transform: scale(1.5);
}

.brush-size {
    position: absolute;
    top: 10px;
    right: 20px;
}

.brush-size li {
    margin: 10px 0;
    width: 20px;
    height: 0;
    transition: all 0.3s;
}

.brush-size .thin {
    border: 1px solid black;
}

.brush-size .thick {
    border: 3px solid black;
}

.brush-size .thin.active, .brush-size .thick.active {
    transform: scale(1.5);
}